html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: #e3f2fd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

canvas {
  background: #4caf50;
  border: 3px solid #333;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#result {
  font-size: 32px;
  font-weight: bold;
  margin-top: 10px;
}

.pickoffBtn {
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  color: black;
  background-color: transparent;
  border: 1px solid #005299;
  border-radius: 8px;
  padding: 3px 6px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  transition: all .3s ease-in-out;
}

.pickoffBtn:hover {
  background-color: #005299;
  color: white;
}

.pickoffBtn.active-pickoff {
  background-color: #005299;
  color: white;
}

.pickoffBtn.hidden {
  display: none !important;
}

#pitchTypeContainer {
  display: flex;
  gap: 5px;
}

.pitchTypeBtn {
  font-size: 9px;
  font-weight: bold;
  color: black;
  background-color: transparent;
  border: 1px solid #005299;
  padding: 2px 4px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  transition: all .3s ease-in-out;
}

.pitchTypeBtn.activePitch {
  background-color: #005299;
  color: white;
}
