html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background: #4caf50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

canvas {
  background: #4caf50;
  display: block;
}

.gameContainer {
  position:relative;
  display:inline-block;
}

.throwButton {
  background-color: #fff;
  border: 1px solid #005299;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  transition: all .3s ease-in-out;
  cursor: pointer;
  font-weight: bold;
  color: black;
}

.throwButton:hover {
  background-color: #005299;
  color: white;
}

.throwButton:disabled {
  background-color: #ccc;
  border-color: #999;
  color: #666;
  cursor: not-allowed;
  caret-color: red !important;
  box-shadow: none;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#result {
  font-size: 32px;
  font-weight: bold;
  margin-top: 10px;
}

.pickoffBtn {
  position: absolute;
  font-size: 11px;
  margin-top: 25px;
  font-weight: bold;
  color: black;
  background-color: transparent;
  border: 1px solid #005299;
  border-radius: 8px;
  padding: 4px 8px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  transition: all .3s ease-in-out;
}

.pickoffBtn:hover {
  background-color: #005299;
  color: white;
}

.pickoffBtn.active-pickoff {
  background-color: #005299;
  color: white;
}

.pickoffBtn.hidden {
  display: none !important;
}

#pitchTypeContainer {
  display: flex;
  position:absolute;
  z-index:10;
  gap: 5px;
}

.pitchTypeBtn {
  font-size: 10px;
  font-weight: bold;
  color: black;
  background-color: transparent;
  border: 1px solid #005299;
  padding: 3px 6px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  transition: all .3s ease-in-out;
}

.pitchTypeBtn.activePitch {
  background-color: #005299;
  color: white;
}

.display {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}

