* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif !important;
    background: #111;
    color: #eee;
}

/* HEADER */
.main-header {
    background: #111;
    padding: 12px 0;
    width: 100%;
    border-bottom: 1px solid #222;
}

.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    gap: 30px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-right {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-left: 20px;
    width: auto;
    display: block;
    object-fit: contain;
}

.main-nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.main-nav a {
    color: #eee;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    transition: color 0.2s ease;
}

.main-nav a:hover {
    color: #bebebe;
}

.btn-download {
    background: #007bff;
    padding: 6px 16px;
    border-radius: 6px;
    color: #eee;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    transition: background 0.2s ease;
}

.btn-download:hover {
    background: #005fcc;
}

.btn-signIn {
    background: rgb(68, 68, 68);
    padding: 6px 16px;
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    transition: background 0.2s ease;
}

.btn-signIn:hover {
    background: rgb(110, 110, 110);
}
